<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试页面</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!-- <header>
        <h1>Welcome!</h1>
    </header> -->

    <nav>
        <ul>
            <li><a href="{{ url_for('facevectordb.register') }}">注册页面</a></li>
            <li><a href="{{ url_for('facevectordb.login') }}">登录页面</a></li>
        </ul>
    </nav>

    <main>
        <p>基于向量数据库的人脸识别注册与登录系统</p>
        <p>导师：曾逸夫</p>
        <p>学生：邓乙华</p>
    </main>

    <!-- <footer>
        
    </footer> -->
</body>

</html>
