<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
    <title>登录页面</title>
</head>

<body>
    <div class="container">
        <h2 class="login-header">登录界面</h2>
        <div class="video-container">
            <video id="video" width="640" height="480" autoplay></video>
            <div class="button-container">
                <button id="startBtnLogin">打开摄像头</button>
                <button id="stopBtnLogin">关闭摄像头</button>
                <button id="loginButton">登录</button>
            </div>
        </div>
    </div>
</body>

</html>